{{>layout/header}}

<div class="container" style="padding-top: 50px">
    <div class="jumbotron">
        <h1 class="display-4">환영 합니다 !</h1>
        <p class="lead">컴퓨터정보공학과 도서 대여 서비스 입니다.</p>
        <hr class="my-4">
        <p>한번만 써주세요 ㅜㅜ </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/" role="button">메인으로</a>
        </p>
    </div>

</div>




{{>layout/footer}}