{{>layout/header}}

<style>
    img{display: block;
        margin: auto;
        padding-top: 15px}
</style>

<div class="container">
    <div class="card mt-4" style="text-align: center">
        <img class="card-img-top img-fluid" style="width: 500px; height: auto;" src="/img/computer-architecture.jpg" alt="">
        <div class="card-body">
            <h3 class="card-title">컴퓨터 아키텍처</h3>
            <h4>대여료 : 5000 </h4>
            <p class="card-text">3학년 1학기 전공 서적 </p>
            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            4.0 stars
            {{>layout/RentalModal}}
        </div>
    </div>



</div>


{{>layout/footer}}